* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: #2a9d8f;
}

.container {
    text-align: center;
}

p {
    font-family: "Pixelify Sans", sans-serif;
    color: #E9C46A;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: 700;

    margin-bottom: 20px;
}

.computer-move {
    font-size: 2rem;
    font-family: "Pixelify Sans", sans-serif;

    font-weight: 700;
    color: #E76F51;
    text-transform: capitalize;
}

button {
    font-size: 1.5rem;
    font-family: "Pixelify Sans", sans-serif;
    text-transform: uppercase;
    color: #E9C46A;

    border: 3px dashed #E76F51;
    background: transparent;
    border-radius: 8px;
    padding: 10px;

    margin-top: 35px;

    cursor: pointer;
}